:root {
  --brand-primary: #00739d;
  --brand-primary-hover: #004f6c;
  --color-background-success: #26d1a0;
  --color-background-success-hover: #22a57f;
  --color-bg-badge-default: #e7f1f5;
  --color-bg-badge-inverse: #374955;
  --color-border: #dddbda;
  --white: #ffffff;
  --toggle-color: #666666;
}
